<div class="col-12">
    <div class="alert alert-danger" role="alert">
       Error!!! User already exist!
    </div>
    <form action="/register" method="GET">
        <input class="btn btn-success my-2" type="submit" value="Back">
    </form>
</div>